.bb{
    background-color: rgb(172, 96, 96);
    font-weight: bold;
}
.by{
    background-color: yellow;
    font-weight: bold;
}
.h-div{
    background-color: antiquewhite;
    padding-bottom: 50px;
    padding-top: 50px;
}

.div1{
    border: 1px black solid;
    width: 800px;
    background-color: white;
    margin-bottom: 50px;
    margin-left: 60px;   
    

}
.r-div{
    color: red;
    border: 3px red dotted ;
    width: 800px;
    background-color: white;
    margin-left: 60px; 
    margin-bottom: 50px;
}
.d-bord{
    border: 2px red dotted ;
}